AWS_YOURSELF: CHANGEME   # Required; please change it to your name

AWS_SAML_PROVIDER_NAME: CYBR-DUMMY-IDP                  # name of SAML provider for IDP role
AWS_SAML_PROVIDER_METADATA: dummy-idp-metadata.xml      # path to SAML IDP Metadata file of SAML provider for IDP role
AWS_S3_BUCKET_NAME: cemdemos3bucket                     # name of S3 bucket
AWS_SKIP_S3_WHEN_CLEANUP: true                          # default: true;  removing S3 bucket when cleanup may result 
                                                        #                 conflicting resource name when recreate s3 
                                                        #                 bucket with the same name
